*,html{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:800}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,.cf-submit a,.cf-submit input{-webkit-appearance:none}.hide{display:none;}

:root{
  --rounded-small:5px;
  --rounded-normal:10px;
  --body-padding:50px;
  --body-container:1280px;
  --section-space:20px;
}
body, html{font-family:'Poppins',sans-serif; font-size:14px; color:var(--font-basecolor); font-weight:400; letter-spacing:0.5px; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
body{background-color:var(--background-color); position:relative; padding:var(--body-padding) 0 0;}
a{color:var(--font-link-primary); font-weight:600; cursor:pointer;}
.btn, a.btn{color:var(--background-color); background-color:var(--font-link-primary); padding:10px 20px; 
font-weight:600; -webkit-appearance:none; cursor:pointer; text-align:center; text-transform:uppercase;
-moz-border-radius:var(--rounded-normal); -webkit-border-radius:var(--rounded-normal); border-radius:var(--rounded-normal);}
.alert{color:#FFF; padding:10px; display:grid; grid-template-columns:34px 1fr; grid-column-gap:10px; margin-bottom:var(--section-space);
-moz-border-radius:var(--rounded-normal); -webkit-border-radius:var(--rounded-normal); border-radius:var(--rounded-normal);}
.clearenter::before, .clearenter::after, 
ul::before, ul::after,
ol::before, ol::after{content:''; display:block; overflow:hidden; visibility:hidden; width:0;}
.clearenter::after, ul::after, ol::after, .clearboth{clear:both;}
.content_center{display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-align-content:center; align-content:center; -webkit-align-items:center; 
-ms-flex-align:center; align-items:center;}
.content_center > *{margin:auto;}
.flex_lazy, .flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_lazy{background-repeat:no-repeat; background-position:center; background-size:cover; -webkit-background-size:cover;}
.flex_lazy img{opacity:0; position:absolute;}
#btt{display:none;}

header > span, section > span, footer > span{width:100%; max-width:var(--body-container); display:flex;}
header, .menu-bottom{position:fixed; z-index:99; left:0; width:100%; background-color:#FFF;
-moz-box-shadow:var(--shadow-base); -webkit-box-shadow:var(--shadow-base); box-shadow:var(--shadow-base);} 

header{top:0;}
header > span{justify-content:space-between;}
.header-left, .header-right{display:flex;}
.header-link{height:var(--body-padding); padding:0 5px;}
.header-logo{padding-left:var(--section-space);}
.header-logo img{height:36px;}
.header-right > a:last-child{padding-right:var(--section-space);}
.header-acc-box{padding:5px 10px; -moz-border-radius:var(--rounded-small); -webkit-border-radius:var(--rounded-small); border-radius:var(--rounded-small);}
.header-acc-live .header-acc-box{background-color:var(--font-link-primary); color:#FFF;}
.header-acc-demo .header-acc-box{border:1px solid var(--font-link-primary); color:var(--font-link-primary);}

.site-container{min-height:calc(100vh - var(--body-padding));}
section > span{padding:calc(var(--section-space) * 2) var(--section-space);}
.section-title{width:100%; margin-bottom:var(--section-space);}
.section-title *{text-align:center;}
.section-title > span{width:100%; max-width:640px;}
.section-title h3{font-weight:900; text-transform:uppercase; color:var(--font-link-primary);}

.cover{position:relative; min-height:60vh;}
.cover > span{display:grid; grid-column-gap:var(--section-space); grid-row-gap:var(--section-space); position:relative; z-index:2;}
.cover-image, .cover-image *{position:absolute; top:0; left:0; width:100%; height:100%;}
.cover-image{z-index:1; background-color:#000;}
.cover-image .flex_lazy{opacity:0.75;}
.cover-wording h1{font-weight:bold; text-transform:uppercase; margin-bottom:10px; color:#FFF;}
.cover-wording h2{color:rgba(255,255,255,0.85);}
.cover-feature{display:grid; grid-template-columns:1fr; grid-row-gap:15px;}
.cover-feature *{color:#FFF; text-align:left !important;}
.cover-feature-list{border:3px solid rgba(255,255,255,0.5); padding:20px; background-color:rgba(0,0,0,0.25);
font-weight:bold; text-transform:uppercase; display:grid; grid-template-columns:50px 1fr; grid-column-gap:10px;
-moz-border-radius:var(--rounded-normal); -webkit-border-radius:var(--rounded-normal); border-radius:var(--rounded-normal);}
.cfl-icon{font-size:36px;}
.cfl-info > span{margin-left:0;}
.cover-button .btn{display:inline-block; background-color:var(--font-link-tertiary)}
.cover-button-label{font-weight:900;}
.cover-button-desc{text-transform:none; font-weight:normal;}

.character > span{display:block;}
.character-content > span{display:grid; grid-template-columns:repeat(auto-fit, minmax(240px,1fr)); grid-column-gap:10px; grid-row-gap:10px;}
.character-content-box{padding:var(--section-space); background-color:#FFF;
-moz-border-radius:var(--rounded-normal); -webkit-border-radius:var(--rounded-normal); border-radius:var(--rounded-normal);
-moz-box-shadow:var(--shadow-neumorph); -webkit-box-shadow:var(--shadow-neumorph); box-shadow:var(--shadow-neumorph);}
.character-content-box *{text-align:center;}
.character-content-box h5{font-weight:bold; margin:15px 0; color:var(--font-link-secondary); font-size:30px;}
.ccb-icon{font-size:64px; height:64px;}
.ccb-icon .fad:before{color:var(--font-link-tertiary);}
.ccb-icon .fad:after{opacity:1; color:var(--font-link-primary);}